@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
	font-family: 'Open Sans', sans-serif;
}

li,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #1b1b1b;
	width: 400px;
	line-height: 40px;
	padding: 8px 25px;
	border-radius: 5px;
}
nav label {
	color: white;
	font-size: 22px;
	font-weight: 500;
	display: block;
	cursor: pointer;
}
nav ul {
	position: absolute;
	background: #1b1b1b;
	top: 70px;
	left: 0;
	width: 100%;
	border-radius: 5px;
	display: none;
}

[id^='btn']:checked + ul {
	display: block;
}

nav .menu:before {
	position: absolute;
	content: '';
	height: 20px;
	width: 20px;
	background: #1b1b1b;
	right: 20px;
	top: -10px;
	transform: rotate(45deg);
	z-index: -1;
}
nav ul li {
	line-height: 40px;
	padding: 8px 20px;
	cursor: pointer;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
nac ul li label {
	font-size: 18px;
}
nav ul li a {
	color: white;
	text-decoration: none;
}
nav ul ul {
	position: static;
}
nav ul ul li {
	line-height: 30px;
	padding-left: 30px;
	border-bottom: none;
}
nav ul li span {
	font-size: 20px;
	float: right;
	margin-top: 10px;
	padding: 0 10px;
}
nav ul ul li a {
	color: #e6e6e6;
	font-size: 17px;
}
nav ul li a:hover,
nav ul li label:hover {
	color: cyan;
}

input {
	display: none;
}

.button span {
	float: right;
	line-height: 35px;
}
